[user]
    name = dleibovic
    email = dleibovic@etsy.com
[color]
    ui = true
[core]
    editor = subl -w
	pager = delta --true-color always --syntax-theme \"Monokai (SL)\"
[interactive]
	diffFilter = delta --true-color always --syntax-theme \"Monokai (SL)\" --color-only
[init]
	defaultBranch = main
[delta]
	navigate = true
	light = false
	word-diff-regex = . # https://github.com/dandavison/delta/issues/184
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
