[user]
    name = dleibovic
    email = dleibovic@etsy.com
[color]
    ui = true
[core]
    pager = delta --24-bit-color always --highlight-removed --theme 'Monokai (SL)'
    editor = subl -w
[interactive]
    diffFilter = delta --24-bit-color always --highlight-removed --theme 'Monokai (SL)' --color-only
